URxvt*scrollTtyOutput: true
! Scroll relative to buffer
URxvt*scrollWithBuffer: true
! Scroll to bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.scrollstyle: rxvt
URxvt.scrollBar: False
URxvt.saveLines: 2000
URxvt.urgentOnBell: True
URxvt.cursorBlink: False
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.font: xft:DejaVu Sans Mono for Powerline-10
URxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher,font-size,url-select,keyboard-select

URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.colorUL: #4682B4

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

URxvt.transparent: true
URxvt.shading:50
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull

 !Tango theme
!URxvt.background: #1C1C1C
URxvt.foreground: #DEDEDE
!
! ! black
URxvt.color0  : #2E3436
URxvt.color8  : #555753
! ! red
URxvt.color1  : #CC0000
URxvt.color9  : #EF2929
! ! green
URxvt.color2  : #4E9A06
URxvt.color10 : #8AE234
! ! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F
! ! blue
URxvt.color4  : #3465A4
URxvt.color12 : #729FCF
! ! magenta
URxvt.color5  : #75507B
URxvt.color13 : #AD7FA8
! ! cyan
URxvt.color6  : #06989A
URxvt.color14 : #34E2E2
! ! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC